@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import "variables";
@import "reset";
@import "scrollbar";
@import "landing";
@import "about";
@import "footer";
