@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
$white: #ffffff;
$orange : #f53f2b;


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body
{
    background: whitesmoke !important;
 
    width: 99vw;
    max-width: 100%;
     
}



@import 'landing';
@import 'about';